<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment scrollable value="business">
    <ion-segment-button (click)="getJson('business')" value="business">
      business
    </ion-segment-button>
    <ion-segment-button (click)="getJson('entertainment')" value="entertainment">
      entertainment
    </ion-segment-button>
    <ion-segment-button (click)="getJson('general')" value="general">
      general
    </ion-segment-button>
    <ion-segment-button (click)="getJson('health')" value="health">
      health
    </ion-segment-button>
    <ion-segment-button (click)="getJson('science')" value="science">
      science
    </ion-segment-button>
    <ion-segment-button (click)="getJson('sports')" value="sports">
      sports
    </ion-segment-button>
    <ion-segment-button (click)="getJson('technology')" value="technology">
      technology
    </ion-segment-button>
  </ion-segment>
  <ion-grid fixed *ngFor="let article of articles">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{article.source.name}}</ion-card-subtitle>
        <ion-card-title>{{article.title}}</ion-card-title>
        <ion-img [src]="article.urlToImage"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        {{article.publishedAt}}. {{article.author}} {{article.description}}.
      </ion-card-content>
    </ion-card>
  </ion-grid> 
</ion-content>
