<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed *ngFor="let article of articles">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{article.source.name}}
          <div class="noticia-more">
            <ion-button (click)="lanzarMenu()" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-subtitle>
        <ion-card-title>{{article.title}}</ion-card-title>
        <ion-img [src]="article.urlToImage"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        {{article.publishedAt}}. {{article.author}} {{article.description}}.
      </ion-card-content>
    </ion-card>
  </ion-grid>  
</ion-content>
